.config-container-con{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.config-container-con .canvas-con {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 400px;
    z-index: 2;
    display: none;
    /* background-color: red; */
}

.config-container-con .canvas-con.active {
   display: block;
    
}

.config-container-con .canvas-con canvas{
    width: 200px;
    height: 400px;
  
    /* background-color: red; */
}

.config-container-con .canvas-con.display {
    display: none;
}

.config-container-con .colors-con {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* background-color: red; */
}

.config-container-con .colors-con button{
    all: unset;
    cursor: pointer;
}

.config-container-con .colors-con button div{
    width: 40px;
    height: 40px;
}

.config-container-con .colors-con input{
    display: none;
}

.config-container-con .colors-con label {
    display: inline-block;
    margin:  1rem;
}

.config-container-con .colors-con label, .config-container-con .colors-con .btn{
    background-color: orange;
    padding: 8px 20px;
    margin: 0 0.5rem;
    /* margin-bottom: 0px; */
}

